.list-container {
  margin: 0 auto;
  padding-bottom: 3vh;
  @media (max-width: 1023px) {
    width: 90vw;
  }
  @media (min-width: 1024px) {
    width: 80vw;
  }
}

.list-title {
  font-size: 1.8rem;
  padding-bottom: 2vh;
  border-bottom: 1px solid #5e5e4e;
  margin: 3vh 0 2vh 0;
  color: #c6c2bb;
}

.list {
  padding: 0;
  font-size: 1.6rem;
  color: #9f9f96;
  width: 100%;
  padding-bottom: 1.5vh;
  svg {
    width: 1rem;
    height: 1rem;
    font-weight: bold;
    vertical-align: middle;
  }
}

.list-item {
  padding: 1vh 0 4vh 0;
  border-bottom: 1px solid #5e5e4e;
  a {
    color: #b9b7ae;
  }
  &-title {
    font-weight: bold;
    font-size: 1.6rem;
    color: #caa427 !important;

    &:before {
      content: ">";
      margin-right: 8px;
      color: #8a6100;
    }
  }
  &-data {
    line-height: 1.4rem;
    font-size: 1rem;
    margin: 0.5vh 0 0 2rem;
  }
}
