{% extends "index.html" %}

{% block css_import %}
<link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
<link rel="stylesheet" href="{{ get_url(path="single.css") | safe }}">
{% endblock css_import %}

{% block meta_tags %}
<meta property="og:type" content="web">
<meta property="og:url" content="{{ config.base_url | safe }}/tags/{{ term.name }}">
<meta property="og:title" content="{{ term.name }} tag">
<meta property="og:description" content="Posts using {{ term.name }} tag">
{% endblock meta_tags %}

{% block content %}
<div class="list-container">
  <h1 class="list-title">{{ term.pages | length }} post{{ term.pages | length | pluralize}} using {{ term.name }} tag</h1>

  <ul class="list">
    {% for page in term.pages %}
    <div class="list-item">
      <a href="{{ page.permalink | safe }}" class="list-item-title">
        {{ page.title }}
      </a>
      <div class="list-item-data">
        {{ blog_macros::get_post_data(page=page, share="false") }}
      </div>
    </div>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
