{% macro get_post_data(page) %}

<b>{{ page.extra.authors }}</b> on {{ page.date }} &nbsp;·&nbsp;

<svg viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round"
    stroke-linejoin="round" stroke-width="6.25%" preserveAspectRatio="xMaxYMax">
    <circle cx="16" cy="16" r="14" />
    <path d="M16 8 L16 16 20 20" />
</svg>
{{ page.reading_time }} minutes read
<br>

<svg class="tag-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="none"
    stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <circle cx="24" cy="8" r="2" />
    <path d="M2 18 L18 2 30 2 30 14 14 30 Z" />
</svg>

{{ blog_macros::get_tags(page=page) }}

·&nbsp;

{% set url_title =  page.title ~ ": " ~ page.extra.preview_summary %}
<a href="https://twitter.com/intent/tweet?text={{ url_title | urlencode }}%0A&url={{ page.permalink | safe }}">
    <svg id="i-twitter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="32" height="32"
        style="width:1.2rem;height:1.2rem">
        <path stroke-width="0" fill="currentColor"
            d="M60 16 L54 17 L58 12 L51 14 C42 4 28 15 32 24 C16 24 8 12 8 12 C8 12 2 21 12 28 L6 26 C6 32 10 36 17 38 L10 38 C14 46 21 46 21 46 C21 46 15 51 4 51 C37 67 57 37 54 21 Z" />
    </svg>
</a>

<a
    href="https://www.linkedin.com/shareArticle?mini=true&title={{ url_title | urlencode }}%0A&url={{ page.permalink | safe }}">
    <svg id="i-linkedin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"
        style="width:1.3rem;height:1.3rem">
        <rect height="11" width="4" x="3" y="9"></rect>
        <circle cx="5" cy="5" r="2"></circle>
        <path
            d="M16.5,8.25A4.47251,4.47251,0,0,0,13,9.95343V9H9V20h4V13a2,2,0,0,1,4,0v7h4V12.75A4.5,4.5,0,0,0,16.5,8.25Z">
        </path>
    </svg>
</a>

<a href="https://telegram.me/share/?text=%0A{{ url_title | urlencode }}&url={{ page.permalink | safe }}">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1000 1000"
        width="32" height="32" style="width:1.1rem;height:1.1rem">
        <path
            d="M500,10C229.4,10,10,229.4,10,500s219.4,490,490,490s490-219.4,490-490S770.6,10,500,10z M740.8,345.9l-80.4,378.8c-5.5,27-21.8,33.3-44.4,20.9L493.5,655l-58.8,57.2c-6.9,6.7-12.3,12.3-24.5,12.3c-15.9,0-13.2-5.9-18.6-21.1l-41.7-137l-121.2-37.7c-26.2-8-26.4-26,5.9-38.9l472-182.2C728.2,297.9,749,312.8,740.8,345.9L740.8,345.9z" />
    </svg>
</a>

{% endmacro get_data %}



{% macro get_tags(page) %}

{% for tag in page.taxonomies.tags %}

<a class="post-data-tag" href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}">#{{ tag }}&nbsp;</a>

{% endfor %}

{%endmacro get_tags %}



{% macro list_post(page) %}

<div class="post">
    <h1>
        <a class="post-title" href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </h1>
    <div class="post-data">
        {{ blog_macros::get_post_data(page=page) }}
    </div>
    <div class="post-summary">
        {{ page.summary | safe }}
        <a class="readmore" href="{{ page.permalink | safe }}">Read more...&nbsp;&raquo;</a>
    </div>
</div>

{% endmacro list_post %}
